*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.App{
  background-color:rgb(50, 120, 250);
  min-height: 100vh;
  overflow-y:hidden;
  min-width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.wave{

  position:absolute;
  bottom:-40px;
  width:100vw;
  overflow-x:hidden;
}

.widget{
  position: absolute;
  bottom:10px;
  right:10px;
  height:80%;
  width:30%;
  scrollbar-width: none;
}

.widget__cloud{
  position: absolute;
  bottom:-140px;
  right:10px;
  height:40%;
  width:20%;
  scrollbar-width: none;
 
}

.app__widget{

  background-color: cornsilk;
  height:80%;
  
}

.btn_started{

  margin-top:600px;
  z-index:33;


}

.btn_started:hover{

background-color: darkgoldenrod;


}

.widget__cloud{
  position:absolute;
  bottom:10px;
  right:10px;
  width:200px;
  height:200px;
  margin-top:400px;
}

.svgwave{
  position:relative;
}

.upload_btn{

  width:60px;
  height:60px;
  background-color:coral;
  outline:none;
  border:none;
  border-radius:80px;
  color:white;
  margin-top:450px;
  font-size:40px;
  z-index:55;
}

.cancel_btn{
  

position:absolute;
top:150px;
right:30px;
  width:60px;
  height:60px;
  background-color: transparent;
  
  outline:none;
  border:none;
  border-radius:80px;
 
 
  font-size:40px;
  z-index:95;

}

.upload_btn:hover{
  background-color: #FAB432;

}

.button_div{
 
  height:100%;
  z-index:60;
}